.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

}

.partyModal {
    border-radius: 8px;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);
    display: flex;
    height: 600px;
    justify-content: center;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    outline: none;
}

.playerCreationContainer {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 8px;
    padding: 15px;
    background-image: url('../Parchment-Texture-slider-size.jpg');
}

.playerCreationTitleContainer {
    width: 100%;
    position: relative;
    text-align: center;
    // border: 1px solid green;
    margin-bottom: 20px;
}

.playerCreationTitle {
    width: 100%;
    position: relative;
    font-size: 2em;
}

.playerModalAreaContainer {
    width: 100%;
    height: 75%;
    // border: 1px solid blue;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.playerModalContainer {
    width: 45%;
    height: 75%;
    position: relative;
    float: left;
    text-align: left;
    // border: 1px solid orange;
    margin: 10px 10px 0px 25px;
    cursor: pointer;
    // padding: 10px 50px 50px 50px;
    // background-color: beige;


    &:hover {
        box-shadow: 10px 10px 5px greenyellow;
    }
}

.selected {
    outline: 5px solid green;
}

.playerModalNameContainer {
    position: relative;
    width: 100%;
    text-align: center;
}

.playerModalName {
    width: 100%;
    position: relative;
    font-size: 2.5em;
    padding: 10px 0px 10px 0px;
    // border: 1px solid rebeccapurple;
}

.playerModalAVContainer {
    height: 80%;
    width: 75%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: grey;
    position: relative;
}

.addButtonContainer {
    width: 100%;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0%);
    position: relative;
    text-align: center;
    cursor: pointer;
    top: 3%;
}

.addButton {
    width: 25%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 5px;
    background-color: rgb(0, 75, 250);
    color: white;
    font-size: 1.5em;
    padding: 10px;
}