.hitbox {
    cursor: pointer;
    // border: 1px solid;
    height: 100px;
    width: 100px;
    position: absolute;
}

img {
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.mapa {
    height: 300px;
    width: 450px;
    top: 280px;
    left: 175px
}

.farmers {
    height: 300px;
    width: 550px;
    top: 250px;
    left: 950px
}

.bronwyn {
    height: 300px;
    width: 750px;
    top: 550px;
    left: 500px
}

.constable {
    height: 400px;
    width: 500px;
    top: 400px;
    left: 50px
}

.barkeep {
    height: 900px;
    width: 400px;
    top: 50px;
    left: 1515px
}
