.gameTitle {
    text-align: center;
    background: none;
    // padding: 10px;
    font-size: 8em;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 5%;
}

.party-container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
    width: 15%;
    text-align: center;
}

.party-text {
    cursor: pointer;
    padding: 5px;
    position: absolute;
    font-size: 1.5em;
    background-color: papayawhip;
    width: 100%;
    border-radius: 4px;
    &:hover {
        z-index: 1;
        box-shadow: 0px 0px 20px #e2ff00;
    }
}

img {
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

