.party {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

img {
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

